
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Work+Sans:wght@400;700;800;900&display=swap');

* {


  
  
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;

}


header{ 

 background-color: rgba(255, 144, 14, 0.10);

padding: 50px 240px;



}

header>nav{  display: flex;

justify-content: space-between;


align-items: center;


}

nav >ul {

          display: flex;

           list-style: none;
          

            

}


nav li{

margin-right:30px;
  

}
nav li a{ 

text-decoration: none;
font-size: 15px;

color:#424242;



}
.nav-title{ 

font-size: 2.8rem;

font-weight: 700;
color:#131313 ;



}

.banner-content{

text-align: center;

margin: 0 auto;

max-width: 800px;

}


.banner-title{ 

font-size: 4rem;
color: #131313;

}

.banner-discription{
    
text-align: center;

font-size: 13px;




color: #727272;

}







