
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Work+Sans:wght@400;700;800;900&display=swap');

* {


  
  
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;

}


header{ 

 background-color: rgba(255, 144, 14, 0.10);

padding: 50px 240px;



}

header>nav{  display: flex;

justify-content: space-between;


align-items: center;


}

nav >ul {

          display: flex;

           list-style: none;
          

            

}


nav li{

margin-right:30px;
  

}
nav li a{ 

text-decoration: none;
font-size: 15px;

color:#424242;



}
.nav-title{ 

font-size: 2.8rem;

font-weight: 700;
color:#131313 ;



}

.banner-content{

text-align: center;

margin: 0 auto;

max-width: 800px;

}


.banner-title{ 

font-size: 4rem;
color: #131313;

}

.banner-discription{
    
text-align: center;

font-size: 13px;




color: #727272;

}
.btn-primary{

border: none;

padding: 21px 20px 24px 25px;

color:#FFF ;
background: #FF900E;
border-radius: 8px;

font-size: 15px;
cursor: pointer;


}


.banner img{


width: 100%;
 



margin-top: 20px;
}


.teams-container{

display: flex;


align-items: center;

}

.teams-img-container{
display: grid;

grid-template-columns: repeat(2,1fr);

gap: 1.4rem;



}

main{

margin: 70px auto;

max-width: 1140px;

}



.teams-content{

padding-left:70px ;
padding-right: 70px;
}



.teams-title{

font-size: 2.9rem;



}

.quick-list{ 
color: #727272;
font-weight: 500;
}

.text-features{

color:#FF900E; 
font-weight: 700;
}


.teams-discription{

  font-weight: 400;
    font-size: .7rem;
padding-bottom: 20px;
color:#727272 ;



}

.facts-dis ,.discription-sponspor{
font-size: 16px;
color:#727272 ;

font-weight: 400;

}




.facts-card-container{

display: flex;

justify-content: space-around;
}

.facts-card-container .card{


  border-radius: 8px;
  border: 1px solid #FF900E;
text-align: center;

padding:30px 30px;


}


.facts-card-container .card-stats{

font-size: 2.8rem;
font-weight: 6000;
color:#424242 ;
}



.facts-card-container .card-title{

font-weight: 600;

font-size: 20px;
color:#727272 ;
margin-top: 2px;

}


.text-sponspor{

color: #131313;

font-weight:700 ;

font-size: 2.8rem;

}

.sponspor{

text-align: center;



}

.add{ 

display: flex;
justify-content: space-evenly;
margin-top: 50px;

}










@media screen and ( max-width:576px){


header{      padding: 20px;    }

nav{

flex-direction: column;

}

.teams-container{

  flex-direction: column;
}

.teams-img-container{

grid-template-columns: 1fr;

}



.facts-card-container{

flex-direction: column;


}


.facts-card-container .card{

padding: 10px 10px;


}


.add{

flex-direction: column;




}


}














/* tablet */


@media screen and ( min-width:756px) and ( max-width:960px){

header{ 

padding: 50px;

}
nav{ 

flex-direction: column;

}
.teams-container{

flex-direction: column;



}


.teams-img-container{

grid-template-columns: 1fr;

}


.facts-card-container{

flex-direction: column;




}

.facts-card-container .card{

padding: 10px 10px;


}


.add{


flex-direction: column;

}



}














